# downloaded source code
/binutils-2.9.1.tar.gz
/gcc-2.7.2.3.tar.gz
/gcc-2.95.3.tar.gz

# extracted source code
/binutils-2.9.1/
/gcc-2.7.2.3/
/gcc-2.7.2.3-far/
/gcc-2.95.3/
/gcc-2.95.3-far/

# export elements from aix
/aixinclude.dsk
/aixbaselib.dsk
/aixlib1.dsk
/aixlib2.dsk
/libgcc1.a

# extracted export stuff
/aixbaselib.tar
/aixlib.tar
/aixinclude.tar
/sysroot
/aixinclude

# chroot dirs
/cdrom_chroot
/rh5_chroot

# code build dirs
/build-binutils/
/build-binutils.1/
/build-gcc/
/build-gcc.1/

# headers build dir
/sysroot_headers

# headers work dirs
/headers_work/orig
/headers_work/mod
/fixincludes_work/orig
/fixincludes_work/mod

# other work dirs i usually use
/stock

# marker files indicating components are done
/*.done

# output files
/crossnative-*.tar.gz
/crossnative-*.dsk
/binutils.tar.gz
/sysroot_headers-*.tar.gz

# other files laying around
/*.iso
